@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,600;0,700;1,600&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,900;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: url(imagenes/fondo-pagina.jpg);
  }

/*" LOGO "*/

.logo-portada{
    align-items: center;
    text-align: center;
}

/*" ANIMACION LOGO"*/



/*" MENU "*/

.navbar{
position: sticky;
top: 0;
z-index: 1;
}

/*" INICIO "*/

.noticia{
    width: 90%;
    margin: 0 auto;
    }



/*" PAGINAS SECUNDARIAS "*/

.imagen-sanyo-y-tapia{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .mt-0{
      font-size: 36px;
  }

  h4{
    font-family: 'Roboto', sans-serif;
    color: red;
  }
  
  h5{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    width: 90%;
  }
  
  h6{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: rgb(94, 94, 97);
  }
  
  .titulo-0{
    padding-left: 5%;
  }
  
  .texto-0{
    padding-left: 8%;
    padding-right: 8%;
    line-height: 2em;
    font-size: 20px;
  }
  
  .imagen-sanyo-y-tapia{
    align-items: center;
    text-align: center;
  }
  
/*" TORNEOS "*/

.contenedor-torneo{
    display: grid;
    grid-auto-rows: 420px;
    padding: 20px;
    grid-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;  
  }

/*" RANKING "*/

.table{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 1300px){
    .table{
      display: none;
    }
  }

.contenedor-masculino{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
  }
  
  .ranking{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 20px;
    background-color: rgb(255, 255, 255);
  }
  
  .ranking:hover{
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
  }
  
  .ranking .head{
    height: 125px;
    width: 100%;
    position: relative;
  }
  
  .ranking .head .circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgb(33, 54, 111);
    bottom: 0;
  }
  
  .ranking .head .foto-jugador{
    width: 150px;
    height: 150px;
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
  }
  
  .ranking .head .foto-jugador img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .ranking .description{
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
  }
  
  .ranking .description h3{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
  
  .ranking .description h4{
    color: rgb(15, 3, 184);
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
  }

  .ranking .description h5{
      font-size: 60px;
  }
  
  .ranking .description p{
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }
  
  .ranking .bandera{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1989px){
    .contenedor-masculino{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

/*" FOTOS "*/

.carusel{
    width: 70%;
    margin: 0 auto;
  }

/*" CALENDARIO "*/

.imagen-calendario{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

/*" VIDEO YOU TUBE INDEX "*/

.titulo-video-yotube{
    text-align: center;
    color: rgb(105, 223, 225);
    font-size: 20px;
  }
  
  .video-yotube{
    width: auto;
    text-align: center;
  }
  
  .youtube{
    width: auto;
    background-color: rgb(33, 54, 111);
    margin: 0 auto;
    padding: 30px;
  }

/*" PATROCINADORES "*/

.socio-principal{
    text-align: center;
    color: rgb(33, 54, 111);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }
  
  .imagen-adidas{
    width: auto;
    margin: 0px auto;
    text-align: center;
    align-items: center;
  }
  
  .socio-premium{
    text-align: center;
    color: rgb(33, 54, 111);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }
  
  .imagen-coca-cola{
    width: auto;
    margin: 0px auto;
    text-align: center;
    align-items: center;
  }
  
  .patrocinadores-oficiales{
    text-align: center;
    color: rgb(33, 54, 111);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }
  
  .imagenes-varias1{
    width: auto;
    margin: 0px auto;
    text-align: center;
    align-items: center;
  }
  
  .imagenes_varias2{
    width: auto;
    margin: 0px auto;
    text-align: center;
    align-items: center;
  }
  
  .imagenes-varias3{
    width: auto;
    margin: 0px auto;
    text-align: center;
    align-items: center;
  }
  
  .imagenes-varias4{
    width: auto;
    margin: 0px auto;
    text-align: center;
    align-items: center;
  }

  @media (max-width: 440px){
    .patrocinadores-logo{
        width: 96%;
    }
}

/*" CONTACTO "*/

.mapa{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

form{
  width: 40%;
  margin: 0 auto;
}

  /*" FOOTER "*/

  .pie-de-pagina{
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
  }
  
  .iconos-redes{
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  
  .sitio-desarrollado-por{
    font-family: 'Roboto', sans-serif;
    align-items: center;
  }
  
  .desarrollador{
    text-align: center;
  }
  
  .contenedor-iconos-redes{
    width: 100%;
    padding: 10px;
    background-color: rgb( 33, 54, 111);
    margin: 0 auto;
  }
  
  .contenedor-sitio-desarrollador{
    width: 100%;
    padding: 1%;
    background-color: rgb( 105, 223, 225);
    margin: 0 auto;
    
  }